.General{
    background-color:white;
} 

.Encabezado {
    background-color:white;
    border-radius: 15%;
    text-align: center;
    border-style:inset;     
}

h1{
    color: blue;
    font-size: 25px;
}

.navegacion{
    margin-left:70%;
    color: blue;
   margin
}


.informacion {
position: relative;
margin: 240px auto;
background: blue;
}

.misdatos {
background: rgb(87, 196, 240);
margin: 10px;
box-sizing: border-box;
overflow: hidden;

}

.fincontenido{
    margin-top:10%;
}


