.Encabezado {
    background-color: white;
    border-radius: 15%;
    text-align: center;
    border-style: inset;
}

.Encabezado h1 {color:blue;}
.Encabezado p {color: rgb(95, 95, 95);}

.navegacion {margin-left: 70%; color: blue; margin: 70px; }

.Informacion h3 {color: blue;}

.misdatos {
    background-color: aqua;
    width: 25%;
    font-style: italic;
    
}

